  <div class="stretch-left grid-container-left brown-nav">
      <ul class="">
          <li class="{{macros.is_active('home.html', _context)}}"><a href="home.html">Roboty ziemne definicja</a></li>
          <li class="{{macros.is_active('contact.html', _context)}}"><a href="contact.html">Miejsce robót ziemnych</a>
          </li>
          <li class="{{macros.is_active('contact.html', _context)}}"><a href="contact.html">Klasyfikacja robót
                  ziemnych</a></li>
          <li class="{{macros.is_active('contact.html', _context)}}"><a href="contact.html">Na czym polegają roboty
                  ziemne</a></li>
          <li class="{{macros.is_active('contact.html', _context)}}"><a href="contact.html">Technologia robót
                  ziemnych</a></li>
          <li class="{{macros.is_active('contact.html', _context)}}"><a href="contact.html">Wykopy ziemne</a></li>

      </ul>
  </div>