       <div class="card">
                        <a href="">

                            <div class="img-box">
                                <img src="assets/img/marcin-jozwiak-oh0DITWoHi4-unsplash.jpg">

                            </div>
                            <div class="card-section">
                                <h3 class="title">Jakie są rodzaje kruszywa?</h3>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                    tempor
                                    invidunt ut labore et.</p>
                                <div class="more">
                                    <p>więcej</p>
                                </div>
                            </div>
                        </a>
                    </div>
