   <div class="contact_box">
            <div class="grid-container">
                <div class="grid-x grid-margin-x">
                    <div class="cell medium-5 contact_box__left">
                        <h2 class="title-25">Lorem ipsum dolor sit amet</h2>
                        <h3 class="small-title">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                            eirmod</h3>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                            invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
                            et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
                            Lorem ipsum dolor sit am et. Lorem ipsum dolor sit amet, </p>
                        <p> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                            invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
                            et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
                       </p>
                    </div>
                    <div class="cell medium-7">
                        <div class="contact_box__right">
                            <div class="contact_box__inside">
                                <h2 class="contact_box__title">Chcesz zlecić nam zadanie ?</h2>
                                <h3 class="contact_box__small-title">SKONTAKTUJ SIĘ Z NASZYM DZIAŁEM OBSŁUGI KLIENTA</h3>
                                <div>
                                    <a class="button-red" href="">SKONTAKTUJ SIĘ</a>
                                
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>