<!doctype HTML>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>{{page_title}}</title>
    {# tymczasowo #}
    <link rel="stylesheet" href="./vendor/owl.carousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="./vendor/owl.carousel/dist/assets/owl.theme.default.min.css">

    <link rel="stylesheet" href="./vendor/@fancyapps/fancybox/dist/jquery.fancybox.min.css">
    <link rel="stylesheet" href="./vendor/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="./css/main.css">

  </head>
  <body class="fixed-nav">
			  
		{% include "../partials/site-header.twig" %}
		
		<main id="site-wrap"> 