   <div class="grid-container">
            <div class="more_box">
                <div class="grid-x grid-padding-x">
                    <div class="cell medium-3 large-2 more_box__title-box">
                        <h3 class="title-25"> Pozostałe <br  class="responsive"> z naszej  <br  class="responsive"> oferty:</h3>
                    </div>
                    <div class="cell medium-9 large-10">
                        <div class="grid-x small-up-2 medium-up-3 large-up-5 grid-padding-x grid-padding-y home_second__cells">
                            <div class="cell"><a href="">
                                    <img class="home_second__truck" src="assets/img/truck-2.svg" alt="">
                                    <p>Transport<img src="assets/img/Icon ionic-ios-arrow-forward.svg" alt=""></p>
                                </a>
                            </div>
                            <div class="cell"><a href="">
                                    <img class="home_second__truck" src="assets/img/truck-2.svg" alt="">
                                    <p>Transport HDS<img src="assets/img/Icon ionic-ios-arrow-forward.svg" alt=""></p>
                                </a>
                            </div>
                            <div class="cell"><a href="">
                                    <img class="home_second__truck" src="assets/img/truck-2.svg" alt="">
                                    <p>Kruszywa<img src="assets/img/Icon ionic-ios-arrow-forward.svg" alt=""></p>
                                </a>
                            </div>
                            <div class="cell"><a href="">
                                    <img class="home_second__truck" src="assets/img/truck-2.svg" alt="">
                                    <p>Kontenery<img src="assets/img/Icon ionic-ios-arrow-forward.svg" alt=""></p>
                                </a>
                            </div>
                            <div class="cell"><a href="">
                                    <img class="home_second__truck" src="assets/img/truck-2.svg" alt="">
                                    <p>Usługi<img src="assets/img/Icon ionic-ios-arrow-forward.svg" alt=""></p>
                                </a>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>