 <div class="stretch-right grid-container-right big-slider-box"
     style="background-image: url('assets/img/Group 118.jpg')">

     <div class="owl-carousel owl-theme owl-loaded slider-big animated">

         <div class="owl-photo"> <a href=""><img src="assets/img/Group 117.jpg" alt=""></a>
         </div>
         <div class="owl-photo"> <a href=""><img src="assets/img/Group 117.jpg" alt=""></a>
         </div>
         <div class="owl-photo"> <a href=""><img src="assets/img/Group 117.jpg" alt=""></a>
         </div>

     </div>

 </div>