{# <div id="home-slider" class="slider slick-slider">
	


	<div class="slide" style="background-image: url('../assets/img/Group 115.jpg')">
		
		<div class="slide-wrap">
			<div class="slide-inner">
			
				<div>
					<h4 class="slider_title">Jakie są rodzaje kruszywa ?</h4>
				</div>
				
			</div>
		</div>
		
	</div>
	<div class="slide" style="background-image: url('../assets/img/Group 115.jpg')">
		
		<div class="slide-wrap">
			<div class="slide-inner">
			
				<div>
					<h4 class="slider_title">Jakie są rodzaje kruszywa ?</h4>
				</div>
				
			</div>
		</div>
		
	</div>
	<div class="slide" style="background-image: url('../assets/img/Group 115.jpg')">
		
		<div class="slide-wrap">
			<div class="slide-inner">
			
				<div>
					<h4 class="slider_title">Jakie są rodzaje kruszywa ?</h4>
				</div>
				
			</div>
		</div>
		
	</div>
	<div class="slide" style="background-image: url('../assets/img/Group 115.jpg')">
		
		<div class="slide-wrap">
			<div class="slide-inner">
			
				<div>
					<h4 class="slider_title">Jakie są rodzaje kruszywa ?</h4>
				</div>
				
			</div>
		</div>
		
	</div>

	 
</div> #}

<div class="owl-carousel owl-1 owl-theme owl-loaded slider-main animated">

	<div class="owl-photo"> <a href=""><div class="owl-photo-inside"style="background-image: url('assets/img/Group 115.jpg');"><h3 class="title">Jakie są rodzaje kruszywa?</h3></div></a></div>
	<div class="owl-photo"> <a href=""><div class="owl-photo-inside"style="background-image: url('assets/img/Group 115.jpg');"><h3 class="title">Jakie są rodzaje kruszywa?</h3></div></a></div>
	<div class="owl-photo"> <a href=""><div class="owl-photo-inside"style="background-image: url('assets/img/Group 115.jpg');"><h3 class="title">Jakie są rodzaje kruszywa?</h3></div></a></div>
	<div class="owl-photo"> <a href=""><div class="owl-photo-inside"style="background-image: url('assets/img/Group 115.jpg');"><h3 class="title">Jakie są rodzaje kruszywa?</h3></div></a></div>
	<div class="owl-photo"> <a href=""><div class="owl-photo-inside"style="background-image: url('assets/img/Group 115.jpg');"><h3 class="title">Jakie są rodzaje kruszywa?</h3></div></a></div>
	<div class="owl-photo"> <a href=""><div class="owl-photo-inside"style="background-image: url('assets/img/Group 115.jpg');"><h3 class="title">Jakie są rodzaje kruszywa?</h3></div></a></div>



</div>