.about-contact-box {
    .contact_box__right {
        background: $red;
    }
    .button-red:hover {
        border: 1px solid #fff;
    }
 
}

.about_first {
    &__left {
        p {
            opacity: 0.64;
            @include breakpoint(large) {
                margin-bottom: 56px;


            }
        }
        @include breakpoint(medium) {
            padding: 0px 40px 0px 0;

        }
        @include breakpoint(large) {
           padding: 50px 140px 50px 0;
        }
    }
    &__image_box {
        @include breakpoint(large) {
            padding-right: 140px;
        }
    }
    &__image {
        height: 100%;
    }
}

.about_second {
    &__box {
        display: flex;
        justify-content: center;
    }
    &__inside {
        max-width: 676px;
        .big-title {
            font-size: 25px;
            line-height: 1;
            @include breakpoint(large) {
                margin-bottom: 43px;
            }
        }
        .small-title {
            max-width: 456px;
        }
    }
}