.blog_first {
    &__right {
        @include breakpoint(medium) {
            padding: 20px 0 20px 20px;
        }
        @include breakpoint(large) {
            padding: 30px 83px;
            .button-red {
                margin-top: 11px;
            }
        }
    
    }
}

.blog_cells {
    &__cells_box {
        margin-bottom: 2rem !important;
        @include breakpoint(large) {
            margin-bottom: 68px !important;
        }
    }
    .grid-padding-x {
        @include grid-padding-x(5px);

        @include breakpoint(large) {
            @include grid-padding-x(8px);

        }
    }
    .grid-padding-y {

        @include grid-padding-y(10px);
    
        @include breakpoint(large) {
            @include grid-padding-y(20px);
        }
    
    }
}