.brown-nav {
  margin-bottom: 2rem;
  @include breakpoint(medium) {
    margin-bottom: 0;
  }
    background: #000;
    color: #fff;
    padding-top: 2rem;
    padding-bottom: 2rem;
    ul {
        list-style: none;
        margin-left: 1rem;
      
      }
      
      ul> li {
        position: relative;
        margin-bottom: 18px;
        
        a {
            color: #fff;
            opacity: 0.5;
            font-size: 14px;
            &:hover {
                opacity: 1;
                padding-left: 20px;
                &::before {
                    content: url('../../assets/img/Line\ 12.svg');
                    // content: url('—   ');
                    top: -13px;
                    left: 0;
                    height: 4px;
                }
          
            }

        }
      }

      

      
      ul>li>a::before {
        //   transition: .3s ease-in-out;
        // line-height: 1.2; ///!!!
        font-size: 23px;
        position: absolute;
        top: -5.5px;
        color: #fff;
        opacity: 0.5;
        content: "> ";
        /* Add content: \2022 is the CSS Code/unicode for a bullet */
        // font-weight: bold;
        /* If you want it to be bold */
        display: inline-block;
        /* Needed to add space between the bullet and the text */
        width: 0.8em;
        /* Also needed for space (tweak if needed) */
        margin-left: -0.8em;
        /* Also needed for space (tweak if needed) */
      }

}