.card {
    a {
        height: 100%;
        width: 100%;
        display: block;
    }
    .img-box {
        overflow: hidden;
    }
    img {
        transition: .3s ease-in-out;
    }
    &:hover {
        img {
            transform: scale(1.1)
        }
        .title {
            color: $red;
        }
        .more p {
            font-weight: 500;
        }
    }
    .title {
        transition: .3s ease-in-out;
        font-size: rem-calc(14px);
        color: #000;
        font-weight: 500;
        margin-bottom: 9px;
        margin-top: 20px;
    }
    p {
        color: #767676;
        font-size: 12px;
        margin-bottom: 20px;
    }
    .more p {
        transition: .3s ease-in-out;
        color: $red;
        text-transform: capitalize;
        margin-bottom: 0;
    }
}