.wrap-contact {
    padding-top: 0;
}

.contact_first {
    a:hover {
        opacity: 0.7;
    }
    position: relative;
    padding: 50px 0 20px;
    @include breakpoint(large) {
        padding: 100px 0 20px;

    }
    &__back {
        display: none;
        @include breakpoint(medium) {
            display: block;
        }
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        background-size: 32%;
        background-position-y: bottom;
        background-position-x: 45%;
        bottom: -35px;
        z-index: -2;
    

    }
    &::before {
        content: '';
        background: $red;
        position: absolute;
        top: 0;
        left:0;
        width: 100%;
        height: 60%;
        @include breakpoint(medium) {
            width: 50%;
            height: 100%;

        }
        bottom: 0;
        z-index: -1;
        }
        // &__red_back {
        //     background: green;
        // }
        &__padding_left {
            @include breakpoint(large) {
                padding-left: 100px !important;

            }
        }
        &__margin_bottom {
            margin-bottom: 2rem;
            @include breakpoint(medium) {
                margin-bottom: 0;
            }
        }
        &__only-small {
            display: block;
            @include breakpoint(medium) {
                display: none;
            }
        }
        &__only_big {
            display: none;
            @include breakpoint(medium) {
                display: block;
            }
        }
    &__boxi {
        padding-bottom: 45px;
    }   
    &__boxi-small {
        padding-bottom: 26px;
    } 
    &__left {
        color: #fff;
        .right-box-box {
            display: flex;
            flex-direction: column;
        }
        .right-box {
            display: flex;
            flex:1;
            flex-direction: column;
            justify-content: space-between;
        }
        .big-title {
            color: #fff;
            @include breakpoint(large) {
              margin-bottom: 59px;
            }
        }
        .small-title {
            font-size: 12;
            text-transform: uppercase;
            margin-bottom: 24px;
            color: #fff;
        }
        p {
            color: rgba(255, 255, 255, 0.6);
            line-height: 1.66;
            font-size: 12px;
        }
        a {
            color: rgba(255, 255, 255, 0.6);
            line-height: 2;
            font-size: 12px;
        }
    }
    &__right-inside {
        margin-bottom: 2rem;
        .black-title {
            font-size: 14px;
            font-weight: 500;
            text-transform: uppercase;
            margin-bottom: 12px;
            @include breakpoint(medium) {
                margin-bottom: 35px;

            }
        }
        .name {
            font-size: 14px;
            color: rgba(0, 0, 0, 0.85);
            margin-bottom: 2px;
        }
        p {
            font-size: 12px;
            color: rgba(0, 0, 0, 0.4);
            margin-bottom: 10px;
            @include breakpoint(medium) {
                margin-bottom: 20px;
            }
        }
        a {
            font-size: 12px;
            display: block;
        }
    }
}

.contact_second {
    &__map_box {
        display: flex;
        @include breakpoint(medium) {
            flex: 1;

        }
    }
}

.footer_contact {
    .logo-footer {
        margin-bottom: 60px;
    }
    &__link-box {
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
        a {
            color: #8D8D8D;
			font-size: 9px;
			line-height: 1.2;
			display: block;
			margin-bottom: 5px;
			@include breakpoint(medium){
				margin-bottom: 0;
			}
			&:hover {
				color: $red;
			}
        }
    }
    &__link-inside {
        text-align: left;
    }
}