.contact_box {
 
    .grid-margin-x {
        @include breakpoint(large) {
            padding-left: 70px;
            padding-right: 70px;
        }
    }
    &__left {
        @include breakpoint(large) {
            padding-top: 45px;
            padding-bottom: 45px;
            padding-right: 59px;
        }
    }
    &__right {
        background: #121212;
        height: 100%;
        display: flex;
        text-align: center;
        justify-content: center;
        padding: 2rem;
    }
    &__title {
        color: #fff;
        font-weight: bold;
        margin-bottom: 21px;
        font-size: 30px;
        line-height: 1.1;
        @include breakpoint(medium) {
            font-size: 35px;
            max-width: 340px;
        }
        @include breakpoint(large) {
            font-size: 45px;
     
        }
    }
    &__small-title {
        line-height: 1.4;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.67);
        font-weight: 500;
        margin-bottom: 22px;
        text-transform: uppercase;
        @include breakpoint(medium) {
            max-width: 285px;
        }
        @include breakpoint(large) {
    
            margin-bottom: 30px;
        }
    }
    &__inside {
        display: flex;
        justify-content: center;
        text-align: left;
        flex-direction: column;
    }

    .button-red {
        font-size: 17px;
        background: #fff;
        border: 1px solid #fff;
        font-weight: 600;
        padding: 11px 18px;
        &:hover {
            border: 1px solid $red;
        }
    }

}