#site-footer {
	font-size: rem-calc(14);
	padding: 1rem 0;
	.footer-box {
		background-size: 19%;
    background-position: bottom;
    background-position-x: 35%;
	}
	.logo-footer {
		transition: .3s ease-in-out;
		margin-bottom: 46px;
		width: 150px;
		@media (min-width: 500px) {
			width: auto;
		}
		&:hover {
			opacity: 0.7;
		}
	}
	.phone {
		word-break: break-word;
		font-size: 15px;
		@media (min-width: 500px) {
			font-size: 20px;

		}
	
		color: #000;
		font-weight: 600;
		display: block;
		&:hover {
			color: $red;
		}
	}
	.email {
		word-break: break-word;
		display: block;
		font-size: 15px;
		@media (min-width: 500px) {
			font-size: 20px;

		}
		@include breakpoint(large) {
			font-size: 25px;

		}
		color: $red;
		&:hover {
			color: #000;
		}
	}
	.rodo-footer {
		padding: 0.5rem;
		@media (min-width: 500px) {
			padding:  0.5rem 2rem;

		}
		@include breakpoint(large) {
			padding: 0.5rem 99px;

		}
		a {
			color: #8D8D8D;
			font-size: 9px;
			line-height: 1.2;
			display: block;
			margin-bottom: 5px;
			@include breakpoint(medium){
				margin-bottom: 0;
			}
			&:hover {
				color: $red;
			}
		}
	}
	.brown-footer {
		.inside {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
		background: #121212;
		color: #fff;
		padding: 1rem;
		@media (min-width: 500px) {
			padding: 2rem;

		}
		@include breakpoint(large) {
			padding: 48px 99px;

		}
		a,p {
			color: #fff;
		}
		.footer-title {
			font-size: 18px;
			@include breakpoint(large) {
				font-size: 22px;

			}
			opacity: 0.61;
			margin-bottom: 30px;
			font-weight: 200;
			max-width: 224px;
		}
		.footer-small-title {
			font-size: 12px;
			text-transform: uppercase;
			opacity: 0.4;
			margin-bottom: 6px;
		}
		p {
			font-size: 14px;
			margin-bottom: 0;
		}
	}
}