header#site-header {
	.header_top {
	
		display: none;
		transition: .3s ease-in-out;
		padding-top:  14px;
		a {
			font-size: 14px;
			font-weight: 500;
			em {
				transition: .3s ease-in-out;
				font-style: normal;
			}
			color: #fff;
			&:hover {
				em {
					color: $red;

				}
			}
			img {
				margin-right: 6px;
			}
			&:first-child {
				margin-right: 58px;

			}
		}
	}
	position: relative;
	background: transparent;
	.fixed-nav & {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		transition: .3s ease-out;
		z-index: 100;
	}
	
	.fixed-nav.scrolled & {
		.header_top {
			display: none !important;
		}
		background: #fff;
		box-shadow: 0px 10px 30px #1818180D;
		a {
			color: #3E3E3E;
			&:hover, &:active {
				color: $red;
			}
		}
	}
	
	.header-wrap {
		min-height: $header-height;
		padding-top: .5rem;
		padding-bottom: .5rem;
		.fixed-nav & {
			transition: 0.3s ease-out;
		}
		.fixed-nav.scrolled & {
			min-height: $header-height-scrolled;
		}
	
	}
	.logo-wrap {
		img {
			transition: .3s ease-in-out;
			&:hover {
				opacity: 0.7;
			}
		}
	}
}
