@import '../general/typography';
@import '../general/general';
$home-first-padding: 11rem;



.home_first {
    .header_top {
        display: none !important;

        @include breakpoint($menu-breakpoint up) {
            display: block !important;
        }
    }

    position: relative;

    &__absolute-straps {
        position: absolute;
        right: 0;

        @media(max-width: 1023px) {
            display: none;
        }

        bottom: calc(11rem + 23px);

        @media(min-width: 1770px) {
            bottom: calc(19rem + 23px);
        }
    }

    padding-top: 200px;

    @include breakpoint(medium) {
        // max-height: calc(100vh + 11rem);
        padding-top: 0;

    }

    background-position: top right;
    padding-bottom: 2rem;
    @include breakpoint(medium) {
        padding-bottom: 5rem;
    }
    @include breakpoint(large) {

        padding-bottom: 11rem;
    }
    background-position-x: 200px;

    @media(min-width: 1100px) {
        background-position-x: 300px;
    }

    @media(min-width: 1360px) {
        background-position-x: 340px;
    }

    @media(min-width: 1460px) {
        background-position-x: 375px;
    }

    @media(min-width: 1500px) {
        background-position-x: right;
        // background-size: contain;
        background-size: 68%;
    }

    // @media(min-width: 1500px) and (max-height: 800px) {
    //     background-size: auto;
    // }

    @media(min-width: 1770px) {
        background-position-x: right;
        background-size: 68%;
        // background-position-y: bottom;
        // padding-bottom: 13rem;
        height: calc(100vh + 19rem);
    }

    .main-menu>li>a {
        color: #fff;
    }

    &__text {
        padding-bottom: 23px;
        // @include breakpoint(medium) {
        //     width: 60%;
        // }
        // @include breakpoint(large) {
        //     width: 47%;

        // }
        @include breakpoint(medium) {
            // height: 500px;
            // min-height: calc(100vh - 80px);
            min-height: 550px;
            height: calc(100vh - 80px);
            max-height: 750px;

        }

        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .big-title {
            max-width: 476px;

            @include breakpoint(large) {
                font-size: rem-calc(32px);
            }
        }

        p {
            color: rgba(56, 56, 56, 0.49);
            margin-bottom: 2rem;
            max-width: 380px;

            @include breakpoint(large) {
                margin-bottom: 62px;
                font-size: rem-calc(13px);

            }
        }
    }

    &__look_title {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 500;
        margin-bottom: 22px;
    }

    &__buttons {
        @include breakpoint(medium) {
            display: flex;

        }

        a {
            margin-bottom: 12px;
            max-width: 300px;
            @include breakpoint(medium) {
                margin-bottom: 0;
            }
            box-shadow: 0px 3px 26px hsla(0, 0%, 25%, 0.161);
            padding: 11px 20px;
            margin-right: 17px;
            font-size: rem-calc(12px);
            font-weight: 500;
            color: $red;
            display: flex;

            &:hover {
                background: $red;
                color: #fff;

                img {
                    filter: brightness(0) invert(1);
                }

            }

            img {
                transition: .3s ease-in-out;
                padding-left: 8px;
            }
        }
    }
}

.home_second {
    &__inside {
        margin-bottom: 2rem;

        @include breakpoint(large) {
            margin-bottom: 46px;

        }
    }

    .grid-padding-x {
        @include grid-padding-x(5px);

        @include breakpoint(large) {
            @include grid-padding-x(11px);

        }
    }

    .grid-padding-y {

        @include grid-padding-y(5px);

        @include breakpoint(large) {
            @include grid-padding-y(11px);
        }

    }

    .big-title {
        font-size: 20px;
        font-weight: bold;
        line-height: 1;
        @include breakpoint(large) {
            font-size: 25px;

        }
    }

    &__cells {
        .cell {
            a {
                height: 100%;
                color: #434343;
                padding: 64px 24px 28px 24px;
                box-shadow: 0px 3px 20px #5A5A5A29;
                display: block;

                p {
                    font-size: rem-calc(12px);
                    transition: .3s ease-in-out;
                    color: #434343;

                    @include breakpoint(large) {
                        font-size: rem-calc(15px);

                    }

                    img {
                        padding-left: 5px;

                        @include breakpoint(large) {
                            padding-left: 11px;

                        }
                    }

                }

                img {
                    transition: .3s ease-in-out;
                }

                &:hover {
                    background: $red;
                    color: #fff;

                    p {
                        color: #fff;
                    }

                    img {
                        filter: brightness(0) invert(1);
                    }
                }
            }
        }
    }

    &__truck {
        margin-bottom: 22px;
    }

    &__right_img {
        height: 100%;
        ;
    }
}

.home_third {
    &__left {
        padding: 50px 15px 50px 15px;

        @include breakpoint(medium) {
            padding: 60px 95px 60px 95px;
        }

        @include breakpoint(large) {
            padding: 80px 166px 114px 196px;
        }

        color: #fff;

        p {
            opacity: 0.49;
            color: #fff;
        }
    }

    &__left_title {
        font-size: 25px;
        margin-bottom: 1.5rem;
        line-height: 1.25;
        font-weight: 800;

        @include breakpoint(large) {
            font-size: 30px;
            margin-bottom: 2rem;

        }
    }

    &__right {
        box-shadow: 0px 0px 30px #67676729;
        // padding: 133px 220px 133px 147px;
        padding: 2rem 0px 2rem 0px;

        @include breakpoint(medium) {
            padding: 4rem 0px 4rem 0px;
        }

        @include breakpoint(large) {
            padding: 133px 0px 133px 0px;
        }

        display: flex;
        justify-content: center;
        align-items: center;

        p {
            font-size: 16px;
            color: $red;
            font-weight: 500;
            // &::before {
            //     content: url("../../assets/img/Line\ 7.svg");
            // }
        }

        ul {
            list-style: none;
            margin-left: 0;

            img {
                padding-right: 10px;
                padding-top: 8px;
            }

            li {
                margin-bottom: 23px;
            }

            li>a {
                font-size: 16px;
                color: #000;
                display: flex;
                align-items: flex-start;

                &:hover {
                    color: $red;
                }
            }
        }
    }

    &__right_title {
        @extend .home_third__left_title;
        font-weight: 600;

        @include breakpoint(medium) {
            max-width: 222px;

        }
    }
}

.home_fourth {
    padding-top: 70px;
    background-size: 56%;
    background-position-x: 39%;
    // .grid-padding-x {
    //     @include grid-padding-x(10px);

    //     @include breakpoint(large) {
    //         @include grid-padding-x(54px);

    //     }
    // }
    &__left {
        @include breakpoint(medium) {
            padding-right: 30px;

        }

        @include breakpoint(large) {
            padding-right: 54px;
        }
    }

    &__right {
        @include breakpoint(large) {
            padding-left: 20px;

            @include breakpoint(large) {
                padding-left: 54px;
            }

            padding-right: 60px;
            padding-top: 30px;
        }

        p,
        .big-title {
            @include breakpoint(medium) {
                margin-bottom: 51px;

            }
        }
    }

    &__color_cell_1 {
        padding: 60px 30px;

        @include breakpoint(large) {
            padding: 90px 62px;

        }

        background: #121212;
        color: #fff;

        ul {
            list-style: none;
            margin-left: 0;
        }

        a,
        li,
        p {
            color: #fff;
            font-size: 14px;
        }

        a {
            opacity: 0.5;
            display: flex;
            align-items: flex-start;

            img {
                padding-right: 9px;
                padding-top: 8px;
            }

            &:hover {
                opacity: 1;
            }
        }

        li {
            margin-bottom: 14px;
        }
    }

    &__color_cell_2 {
        @extend .home_fourth__color_cell_1;
        height: 100%;
        background: $red;

        @include breakpoint(large) {
            height: auto;
            padding: 65px;
            margin-left: -107px;
            margin-top: -70px;
        }



    }

    &__red_box {
        height: auto !important;
    }
}

.home_slider {
    overflow: hidden;

    &__text {
        @include breakpoint(large) {
            padding-left: 110px;
            padding-right: 70px;
        }

        p,
        .big-title {
            @include breakpoint(medium) {
                margin-bottom: 39px;

            }
        }
        .big-title {
            @include breakpoint(medium) {
                font-size: 30px;
                font-weight: bold;
            }
        }
    }
}