.more_box {
    .title-25 {
        line-height: 1;
        @include breakpoint(medium) {
                margin-bottom: 0;
                padding-right: 20px;

        }
    }
    &__title-box {
        padding-top: 40px;
        @include breakpoint(large) {
            display: flex;
            align-items: center;
            padding-top: 0;
        }
    }
    .home_second__cells {
        .cell a{
            padding: 57px 24px 24px 14px;
            p {
                margin-bottom: 0;
            }

        }
    }
    .grid-padding-x {
        @include grid-padding-x(5px);

        @include breakpoint(large) {
            @include grid-padding-x(13px);

        }
    }
}