.services {
    p {
        font-size: 12px !important;
        color: #767676;
        margin-bottom: 22px;

    }
}

.services_first {
    &__top_left {
        p {
            max-width: 425px;
        }
        margin-bottom: 2rem;
        @include breakpoint(large) {
            margin-bottom: 68px;
        }
    }
    &__top_right {
        p {
            margin-bottom: 22px;
        }
    }
    .grid-padding-x {
        @include grid-padding-x(5px);

        @include breakpoint(large) {
            @include grid-padding-x(57px);

        }
    }
}

.services-second {
    .big-title {
        @include breakpoint(large) {
            margin-bottom: 50px;
        }
    }
}