<footer id="site-footer" >

	<div class="grid-x footer-box" style="background-image: url('../assets/img/Group 116.png')">
		<div class="cell small-6 medium-5 large-5  grid-container-left stretch-left center">
			<div>
				<a href="">	<img class="logo-footer" src="../assets/img/Image 1.svg" alt=""></a>
			
				<a class="phone" href="">+48 12 442 01 42</a>
				<a class="email" href="">biuro@podolski.com.pl</a>
			</div>
		</div>
		<div class="cell small-6 medium-7 large-7 ">
			<div class="brown-footer">

				<div class="grid-x grid-padding-x">
					<div class="cell medium-6 cell inside">
						<h2 class="footer-title">Usługi Transportowe i Roboty Ziemne Piotr Podolski</h2>
						<div>
							<h4 class="footer-small-title">GODZINY OTWARCIA</h4>
							<p> Pn-Pt 7.00 - 17.00</p>
						</div>
					</div>
					<div class="cell medium-6 cell inside">
						<div>
							<h4 class="footer-small-title">SIEDZIBA FIRMY</h4>
							<p>30-199 Rząska </p>
							<p>ul. Zagruszcze 11A </p>
						</div>
						<div>
							<h4 class="footer-small-title">BAZA SPRZĘTU</h4>
							<p>32-080 Brzezie </p>
							<p>ul. Szlachecka 13</p>
						</div>
					</div>
				</div>
			</div>
			<div class="rodo-footer">
				<div class="grid-x grid-padding-x">
					<div class="cell medium-6 cell "><a href="">Projektowanie stron hauerpower.com</a></div>
					<div class="cell medium-6 cell "><a href="">strona wykorzystuje cookies</a></div>
				</div>
			</div>
		</div>
	</div>




</footer>