{% import "../includes/macros.twig" as macros %}

<header id="site-header">
	<div class="grid-container">
		<div class="header_top text-right">
			<a href=""><img src="assets/img/Icon material-local-phone.svg" alt="">SKŁADY KRUSZYW: <em>604 103 615	</em></a>
			<a href=""><img src="assets/img/Icon material-local-phone.svg" alt="">BIURO: <em>(12) 442 01 42</em></a>
		</div>
		<div class="grid-x header-wrap align-justify align-middle">
			<div class="cell logo-wrap shrink">
					<a href="home.html">
			
					<img src="assets/img/Image 1.svg">
					</a>
			</div>
			
			<div class="cell menu-wrap shrink">
	      <a id="hamburger" href="#"><span></span></a>

				<ul class="menu main-menu">
					<li class="{{macros.is_active('home.html', _context)}}"><a href="home.html">O FIRMIE</a></li>
					<li class="{{macros.is_active('contact.html', _context)}}"><a href="contact.html">TRANSPORT</a></li>
					<li class="{{macros.is_active('contact.html', _context)}}"><a href="contact.html">TRANSPORT HDS</a></li>
					<li class="{{macros.is_active('contact.html', _context)}}"><a href="contact.html">SKŁAD KRUSZYW</a></li>
					<li class="{{macros.is_active('contact.html', _context)}}"><a href="contact.html">KONTENERY</a></li>
					<li class="{{macros.is_active('contact.html', _context)}}"><a href="contact.html">USŁUGI</a></li>
					<li class="{{macros.is_active('contact.html', _context)}}"><a href="contact.html">BLOG</a></li>
					<li class="{{macros.is_active('contact.html', _context)}}"><a href="contact.html">KONTAKT</a></li>
				</ul>
				
			</div>
					
		</div>
	</div>	    
</header>