
@mixin grid-padding-x($property) {
    // @media(min-width: 1024px) {
        margin-left: -$property;
        margin-right: -$property;
        > .cell {
        padding-left: $property;
        padding-right: $property;
        }

    // }
  }

@mixin grid-padding-y($property) {
    // @media(min-width: 1024px) {
        margin-top: -$property;
        margin-bottom: -$property;
        > .cell {
        padding-top: $property;
        padding-bottom: $property;
        }

    // }
  }


* {
	outline: none;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

body {
	
}

@include breakpoint(medium up){
	.alignright {float:right; margin:0 0 1em 1em}
	.alignleft {float:left; margin:0 1em 1em 0}
}
.aligncenter {display: block; margin-left: auto; margin-right: auto}


a {
	transition: all .3s ease-in-out;
}

.clearfix {
	&:before,
	&:after {
    display: table;
    content: ' '
	}
	&:after {
		clear: both;
	}
}

.material-icons {
	font-size: 1.5em;
}

#site-wrap {
	overflow: hidden;
	.fixed-nav & {
		padding-top: 80px;
	}
}


.container-smaller {
	@include breakpoint(large) {
		padding: 0 80px;
	}
	@media(min-width: 1200px) {
		padding: 0 150px;
	}
}



.section {
    margin-bottom: 2rem;

    @media screen and (min-width: 640px) {
        margin-bottom: 5rem;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: rem-calc(168px);
    }
}

.small-2rem {
    margin-bottom: 2rem;
    @include breakpoint(medium) {
        margin-bottom: 0;
    }
}

.small-250 {
    @media(max-width: 639px) {
        height: 250px !important;
    }
}

.order-1 {
    @media screen and (max-width: 639px) {
        order: -1;
    }
}

.center {
	display: flex;
	align-items: center;
}


.grid-container-left {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    @media print, screen and (min-width: #{$global-width}){
        padding-left: 0.9375rem;
        padding-right: 0;
    }
}
.grid-container-right {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    @media print, screen and (min-width: #{$global-width}){
        padding-right: 0.9375rem;
        padding-left: 0;
    }
}

@media(min-width: #{$global-width}) {
    .stretch-right {
        padding-right: calc( ( 100vw - #{$global-width}) / 2 + 0.9375rem );
        }
    .stretch-left {
        padding-left: calc( ( 100vw - #{$global-width}) / 2 + 0.9375rem );
    }

}

.wrap {
    padding-top: 100px;
}

.stretch-left-with-background {
	margin-left: -10px;
	@include breakpoint(medium){
		margin-left: -15px;
	}
	@include breakpoint( #{$global-width} ){
		margin-left: calc( (#{$global-width} - 100vw)/2 - 15px );
	}
	&--with-padding {
		padding-left: 10px;
		@include breakpoint(medium){
			padding-left: 15px;
		}
		@include breakpoint( #{$global-width} ){
			padding-left: calc( (100vw - #{$global-width})/2 + 15px );
		}
	}
}