@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

$red: #7C0018;


p {
	font-size: 13px;
	color:rgba(60, 60, 60, 0.49);
}

.page-title {
	font-size: 2rem;
	margin-bottom: 1.5rem;

	@include breakpoint(medium) {
		font-size: 3rem;
	}

	&--loop {
		font-size: 1.25rem;

		@include breakpoint(medium) {
			font-size: 1.5rem;
		}
	}
}

.section-title {
	font-size: 1.5rem;
	margin-bottom: 1.5rem;

	@include breakpoint(medium) {
		font-size: 2rem;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	a:not(:hover) {
		color: inherit;
	}
}

.big-title {
	font-size: 28px;
	line-height: 1.2;

	@include breakpoint(medium) {
		font-size: 35px;

	}

	margin-bottom: 23px;
	color: #000;
	font-weight: 600;

	em {
		font-style: normal;
		color: $red;
		font-weight: 200;
	}
}

.title-25 {
	font-size: 25px;
	font-weight: bold;
	color: #000;
	margin-bottom: 2rem;
	@include breakpoint(large) {
		margin-bottom: 40px;
	}
}

.break {
	height: 1rem;
}

.small-title {
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 22px;
	color: #000;
}
.myButton {
    display: inline-block;
    font-size: 10px;
	padding: 10px 22px;
	line-height: 1;
    @include breakpoint(medium) {
        padding: 12px 26px;

    }
    @include breakpoint(large) {
        font-size: 12px;
        padding: 15px 25px;

    }
    // @media screen and (min-width: 980px){
    //     font-size: 13px;
    // }
    // @media screen and (min-width: 1360px){
    //     font-size: 15px;
    // }

    // border-radius: 100px;
    transition: .3s ease-in-out;
    // margin-bottom: 0;
    &:hover {
        cursor: pointer;
    }
}




.button-red {
    @extend .myButton;
  
    color: $red;
	border: 1px solid $red;
	background: transparent;
    &:hover {
       background-color: $red !important;
       color: #fff !important;
    }
}


br.responsive {
	display:none;
	@include breakpoint(large) {
		display: inline;
	}
}