{% set page_title = 'about' %}
{% include "./includes/header.twig" %}
<div class="wrap services">


    <section class="section about_first">
        <div class="grid-container">
            <h1 class="big-title">Firma <em>Podolski</em></h1>
            <div class="grid-x">
                <div class="cell medium-6 center">
                    <div class="about_first__left">
                        <h2 class="title-25">Poznaj nas</h2>
                        <h3 class="small-title">Firma powstała w 1988 roku, oferując usługi transportowe samochodami ciężarowymi.</h3>
                        <p>Z upływem lat rozbudowaliśmy bazę sprzętową i poszerzyliśmy zakres działalności o roboty ziemne. W swojej ofercie posiadamy również kruszywa drogowe i kamienie ozdobne, dostępne na składzie kruszyw w podkrakowskim Brzeziu. <br>Od 2009 roku jesteśmy wyłącznym partnerem firmy Containex na Polskę południowo-wschodnią. Zajmujemy się montażem nowych kontenerów jak również budową systemów kontenerowych wg projektu. Zapewniamy profesjonalny serwis kontenerów biurowych, sanitarnych i innych. <br> Zachęcamy do zapoznania się ze szczegółową ofertą.</p>
                        <a href="" class="button-red">Zobacz naszą pełną ofertę</a>
                    
                    
                    </div>
                </div>
                <div class="cell medium-6  order-1 small-2rem about_first__image_box" >
                   <div class="small-250 about_first__image" style="background-image: url('assets/img/kendall-henderson-Pj6TgpS_Vt4-unsplash-2.jpg')"></div>
                </div>
            </div>

        </div>
    </section>
    <section class="section about_second">
        <div class="grid-container">
            <div class="about_second__box">
                <div class="about_second__inside">
                    <h2 class="big-title">Komleksowe zlecenia <br> <em>z dostawą materiałów i robotami ziemnymi</em></h2>
                    <h3 class="small-title">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod</h3>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed </p>
                    <p>diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus</p>
                </div>
            </div>
        </div>
    
    </section>
    <section class="section ">
    
        {% include "./includes/slider-big.twig" %}

    </section>

    <section class="section about-contact-box">
        {% include "./includes/contact-box.twig" %}
    </section>
    <section class="section ">
       {% include "./includes/more.twig" %}
    </section>


</div>


{% include "./includes/footer.twig" %}