{% set page_title = 'blog' %}
{% include "./includes/header.twig" %}
<div class="wrap services">

    <section class="section blog_first">
        <div class="grid-container">
            <h1 class="big-title">Blog</h1>
            <div class="grid-x">
                <div class="cell medium-6 small-250 small-2rem"
                    style="background-image: url('assets/img/marcin-jozwiak-oh0DITWoHi4-unsplash.jpg')"></div>
                <div class="cell medium-6">
                    <div class="blog_first__right">
                        <h2 class="title-25">Jakie są rodzaje kruszywa?</h2>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                            invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. </p>
                        <p>At vero eos et accusam et justo duo dolores et Lorem ipsum dolor sit amet, consetetur
                            sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                            erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et</p>
                        <div><a class="button-red" href="">Czytaj więcej</a></div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="section blog_cells">
        <div class="grid-container">
        <h2 class="title-25">Zobacz wszystkie wpisy</h2>
            <div class="grid-x grid-padding-x grid-padding-y small-up-1 small-medium-up-2 medium-up-3 large-up-4 blog_cells__cells_box">
                <div class="cell">
                          {% include "./includes/card.twig" %}
                </div>
                <div class="cell">
                          {% include "./includes/card.twig" %}
                </div>
                <div class="cell">
                          {% include "./includes/card.twig" %}
                </div>
                <div class="cell">
                          {% include "./includes/card.twig" %}
                </div>
                <div class="cell">
                          {% include "./includes/card.twig" %}
                </div>
                <div class="cell">
                          {% include "./includes/card.twig" %}
                </div>
                <div class="cell">
                          {% include "./includes/card.twig" %}
                </div>
                <div class="cell">
                          {% include "./includes/card.twig" %}
                </div>
            </div>
            <div class="text-center"> 
                <a class="button-red"href="">Zobacz więcej</a>
              </div>
        </div>
    </section>

    <section class="section ">
        {% include "./includes/more.twig" %}
    </section>


</div>


{% include "./includes/footer.twig" %}