{% set page_title = 'kontakt' %}
{% include "./includes/header.twig" %}
<div class="wrap wrap-contact">

	<section class="section contact_first" >
		<div class="contact_first__back" style="background-image: url('assets/img/Group 119.jpg')"></div>
		<div class="grid-container">
			<div class="grid-x grid-padding-x">
				<div class="cell medium-6 cell">
					<div class=" contact_first__left">
						<h1 class="big-title">Kontakt</h1>
					</div>
				</div>
			</div>
			<div class="grid-x grid-padding-x ">
				<div class="cell medium-6 cell contact_first__margin_bottom">
					<div class=" contact_first__left">
						<div class="grid-x grid-padding-x contact_first__boxi">
							<div class="cell small-6">
								<h3 class="small-title">DANE FIRMOWE</h3>
								<p>Usługi Transportowe i Roboty <br> Ziemne Piotr Podolski</p>
								<p>Rząska, ul. Zagruszcze 11A <br> 30-199 Kraków</p>
								<p>NIP: 676-001-38-33, <br> REGON: 350281545</p>
							</div>
							<div class="cell small-6 right-box-box">
								<h3 class="small-title">SIEDZIBA FIRMY I BAZA SPRZĘTU</h3>
								<div class="right-box">
									<p>Brzezie, ul. Szlachecka 13, <br> 32-080 Zabierzów</p>
									<p><a href="">Tel. +48 12 442 01 42,</a> <br> <a href="">Faks +48 12 442 01 08 </a>
										<br> <a href="">biuro@podolski.com.pl</a></p>

								</div>

							</div>
						</div>
						<div class="contact_first__only-small">
							<div class="contact_first__boxi-small">
								<h3 class="small-title">RACHUNKI BANKOWE</h3>
								<p>BSR Kraków 75 85890006 0000 0008 5889 0002</p>

							</div>
							<div>
								<h3 class="small-title">GODZINY OTWARCIA</h3>
								<p>Pn-Pt 7.00 - 17.00</p>
							</div>
						</div>

					</div>


				</div>
				<div class="cell medium-6 cell contact_first__padding_left">
					<div class="grid-x grid-padding-x ">
						<div class="cell small-6">
							<div class="contact_first__right-inside">
								<h2 class="black-title">TRANSPORT HDS</h2>
								<h3 class="name">Mirosław Warczak</h3>
								<p>Kierownik Działu kontenerów</p>
								<a href="">+48 795 588 223</a>
								<a href="">depozyt@podolski.com.pl</a>

							</div>
						</div>
						<div class="cell small-6">
							<div class="contact_first__right-inside">
								<h2 class="black-title">TRANSPORT HDS</h2>
								<h3 class="name">Mirosław Warczak</h3>
								<p>Kierownik Działu kontenerów</p>
								<a href="">+48 795 588 223</a>
								<a href="">depozyt@podolski.com.pl</a>

							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="grid-x grid-padding-x">
				<div class="cell medium-6">
					<div class=" contact_first__left contact_first__only_big">
						<div class="contact_first__boxi-small">
							<h3 class="small-title">RACHUNKI BANKOWE</h3>
							<p>BSR Kraków 75 85890006 0000 0008 5889 0002</p>

						</div>
						<div>
							<h3 class="small-title">GODZINY OTWARCIA</h3>
							<p>Pn-Pt 7.00 - 17.00</p>
						</div>
					</div>
				</div>
				<div class="cell medium-6 contact_first__padding_left">
					<div class="grid-x grid-padding-x">
						<div class="cell small-6">
							<div class="contact_first__right-inside">
								<h2 class="black-title">TRANSPORT HDS</h2>
								<h3 class="name">Mirosław Warczak</h3>
								<p>Kierownik Działu kontenerów</p>
								<a href="">+48 795 588 223</a>
								<a href="">depozyt@podolski.com.pl</a>

							</div>
						</div>
						<div class="cell small-6">
							<div class="contact_first__right-inside">
								<h2 class="black-title">TRANSPORT HDS</h2>
								<h3 class="name">Mirosław Warczak</h3>
								<p>Kierownik Działu kontenerów</p>
								<a href="">+48 795 588 223</a>
								<a href="">depozyt@podolski.com.pl</a>

							</div>
						</div>
					</div>

				</div>
			</div>


		</div>

	</section>

	<section class="contact_second section">
		<div class="grid-container">
			<div class="grid-x grid-padding-x">
				<div class="cell medium-6">
						<h2 class="title-25">Formularz kontaktowy</h2>
						     <div class="footer-form">
        
                            <div>
                                <div role="form" class="wpcf7" id="wpcf7-f127-o1" lang="pl-PL" dir="ltr">
                                    <div class="screen-reader-response"></div>
                                    <form action="/aktualnosci/#wpcf7-f127-o1" method="post" class="wpcf7-form"
                                        novalidate="novalidate">
                                        <div style="display: none;">
                                            <input type="hidden" name="_wpcf7" value="127">
                                            <input type="hidden" name="_wpcf7_version" value="5.1.6">
                                            <input type="hidden" name="_wpcf7_locale" value="pl_PL">
                                            <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f127-o1">
                                            <input type="hidden" name="_wpcf7_container_post" value="0">
                                            <input type="hidden" name="_source_type" value="">
                                            <input type="hidden" name="_source_id" value="">
                                            <input type="hidden" name="_source_name" value="">
                                        </div>
                                        <p>
                                      
                                            
                                      
                                                    <span class="wpcf7-form-control-wrap your-name"><input type="text"
                                                            name="your-name" value="" size="40"
                                                            class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                            aria-required="true" aria-invalid="false"
                                                            placeholder="Imię i nazwisko"></span>

															<div class="grid-x grid-margin-x">
																<div class="cell small-6">
    																		<span class="wpcf7-form-control-wrap your-email"><input type="email"
																			name="your-email" value="" size="40"
																			class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
																			aria-required="true" aria-invalid="false"
																			placeholder="Adres e-mail"></span>
                                      
																</div>
																<div class="cell small-6">
																	    <span class="wpcf7-form-control-wrap your-phone"><input type="tel"
                                                                name="your-phone" value="" size="40"
                                                                class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel"
                                                                aria-required="true" aria-invalid="false"
                                                                placeholder="Telefon"></span>  
																</div>
															</div>
                             
                                                              
                              
                                       
                                                
                                                 
                                       
                                
                                            <span class="wpcf7-form-control-wrap your-message"><textarea name="your-message"
                                                    cols="40" rows="5" class="wpcf7-form-control wpcf7-textarea"
                                                    aria-invalid="false"
                                                    placeholder="Treść wiadomości"></textarea></span><br>
                                            <span class="wpcf7-form-control-wrap polityka-prywatnosci"><span
                                                    class="wpcf7-form-control wpcf7-acceptance"><span
                                                        class="wpcf7-list-item"><label><input type="checkbox"
                                                                name="polityka-prywatnosci" value="1"
                                                                aria-invalid="false"><span
                                                                class="wpcf7-list-item-label">Wysyłając zapytanie wyrażam zgodę na gromadzenie, przetwarzanie i wykorzystywanie przez firmę „Usługi Transportowe i Roboty Ziemne Piotr Podolski” z siedzibą w Krakowie podanych danych teraz i w przyszłości, zgodnie z polskim prawem, w szczególności Ustawą o „Ochronie Danych Osobowych” z dnia 29.08.1997 r. (Dz. U. z 1997, nr 133, poz. 833).</span></label></span></span></span><br>
                                            <!-- <span class="wpcf7-form-control-wrap newsletter"><span class="wpcf7-form-control wpcf7-acceptance optional"><span class="wpcf7-list-item"><label><input type="checkbox" name="newsletter" value="1" aria-invalid="false"><span class="wpcf7-list-item-label">Wyrażam zgodę na otrzymywanie materiałów marketingowych. Oświadczam, że zapoznałem się i akceptuję Politykę Prywatności.</span></label></span></span></span><br>
                                            <span class="wpcf7-form-control-wrap"><span
                                                class="wpcf7-form-control wpcf7-acceptance"><span
                                                    class="wpcf7-list-item"><label><input type="checkbox"
                                                          ><span
                                                            class="wpcf7-list-item-label">Nie jestem robotem.</span></label></span></span></span> -->
                                           {# <div class="text-right button-box">
                                               <button> #}
                                                   <div class="text-right">
                                                       <input type="submit" value="Wyślij"
                                                           class="wpcf7-form-control wpcf7-submit more" disabled=""><span
                                                           class="ajax-loader"></span>
                                                   </div>
                                                   {# <div class="wpcf7-response-output wpcf7-display-none"></div> #}

                                               {# </button>

                                            </div> #}
                                    </form>
                                </div>
                            </div>
    
                        </div>
				</div>
				<div class="cell medium-6" style="display: flex; flex-direction: column">
					<h2 class="title-25">Mapa dojazdu</h2>
					<div class="small-250 contact_second__map_box" style="background-image: url('assets/img/Group 81.jpg');)"></div>
					{# <img src="assets/img/Group 81.jpg" alt=""> #}
				</div>
			</div>
		</div>
	</section>




</div>



		<footer class="footer_contact">
			<div class="grid-container">
				<div class="text-center">
					<div class="footer_contact__link-box">
						<div class="footer_contact__link-inside">
						{# gdyby jednak miało być wycentrowana proszę logo umieścić nad link-box #}
							<a href="">	<img class="logo-footer" src="../assets/img/Image 1.svg" alt=""></a>
							<a href="">Projektowanie stron hauerpower.com</a>
							<a href="">strona wykorzystuje cookies</a>
						
						</div>
					</div>
				</div>
			
			</div>
		
			<script src="./js/libs.js"></script>
			<script src="./js/app.js"></script>
		</footer>
