{% set page_title = 'Home' %}





<section class="home_first" style="background-image: url('./assets/img/Group_40.png')">
	{% include "./includes/header.twig" %}
	<div class="home_first__absolute-straps"><img src="assets/img/Group 113.png" alt=""></imag>
	</div>
	<div class="grid-container">
		<div class="home_first__text">

			<h1 class="big-title">Komleksowe zlecenia; <br> <em>transport ciężarowy, transport HDS, roboty ziemne,
					dostawa materiałów</em> </h1>
			<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
				et dolore magna aliquyam erat, sed diam voluptua. At vero</p>
			<h3 class="home_first__look_title"> Zobacz pełną ofertę</h3>
			<div class="home_first__buttons">
				<a href="">TRANSPORT <img src="assets/img/arrow-down.svg" alt=""></a>
				<a href="">SKŁAD KRUSZYW <img src="assets/img/arrow-down.svg" alt=""></a>
				<a href="">SERWIS I MONTAŻ KONTENERÓW <img src="assets/img/arrow-down.svg" alt=""></a>
			</div>

		</div>

	</div>
</section>

<section class="home_second section">
	<div class="grid-container container-smaller">
		<div class="grid-x grid-padding-x home_second__inside">
			<div class="cell medium-6">
				<h2 class="big-title">Transport dolor <em>sit amet, consetetur sadipsc</em> </h2>
				<div class="grid-x grid-padding-x grid-padding-y home_second__cells">
					<div class="cell small-6"><a href="">
							<img class="home_second__truck" src="assets/img/truck-2.svg" alt="">
							<p>Krajowy<img src="assets/img/Icon ionic-ios-arrow-forward.svg" alt=""></p>
						</a>
					</div>
					<div class="cell small-6"><a href="">
							<img class="home_second__truck" src="assets/img/truck-2.svg" alt="">
							<p>Transport HDS<img src="assets/img/Icon ionic-ios-arrow-forward.svg" alt=""></p>
						</a>
					</div>
					<div class="cell small-6"><a href="">
							<img class="home_second__truck" src="assets/img/truck-2.svg" alt="">
							<p>Międzynarodowy<img src="assets/img/Icon ionic-ios-arrow-forward.svg" alt=""></p>
						</a>
					</div>
					<div class="cell small-6"><a href="">
							<img class="home_second__truck" src="assets/img/truck-2.svg" alt="">
							<p>Cięzarowy<img src="assets/img/Icon ionic-ios-arrow-forward.svg" alt=""></p>
						</a>
					</div>


				</div>
			</div>
			<div class="cell medium-6 order-1">
				<div class="home_second__right_img small-2rem small-250"
					style="background-image: url('assets/img/kendall-henderson-Pj6TgpS_Vt4-unsplash-2.jpg')"></div>
			</div>
		</div>

		<a href="" class="button-red">Zobacz wszystkie</a>
	</div>
</section>

<section class="section home_third">
	<div class="grid-x">
		<div class="cell medium-7 center">
			<div class="home_third__left" style=" background-image: url('assets/img/Group 25.jpg')">
				<h2 class="home_third__left_title">Kruszywa lorem ipsum dolore sit amet</h2>
				<p> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
					labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
					et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Loremubergren, no sea takimata
					sanctus est Lorem</p>
			</div>
		</div>
		<div class="cell medium-5 home_third__right">
			<div>
				<h2 class="home_third__right_title">Zobacz naszą ofertę kruszyw</h2>
				<p>
					— Sprzedaż kruszyw</p>
				<ul>
					<li><a href=""><img src="assets/img/arrow-red.svg" alt="">Kruszywa budowlane</a></li>
					<li><a href=""><img src="assets/img/arrow-red.svg" alt="">Kruszywa ozdobne</a></li>
					<li><a href=""><img src="assets/img/arrow-red.svg" alt="">Kamienie ozdobne</a></li>
					<li><a href=""><img src="assets/img/arrow-red.svg" alt="">Waga najazdowa 60 ton</a></li>

				</ul>
			</div>
		</div>
	</div>
</section>

<section class="section home_fourth " style="background-image: url('assets/img/Group 114.png')">
	<div class="grid-container">
		<div class="grid-x">
			<div class="cell medium-5 large-7 home_fourth__left small-2rem">
				<div class="grid-x">
					<div class="cell small-6 medium-12 large-8">
						<div class="home_fourth__color_cell_1">
							<h2 class="home_third__right_title">Kontenery</h2>
							<p>
								— Sprzedaż</p>
							<ul>
								<li><a href=""><img src="assets/img/white-arrow.svg" alt="">Montaż i serwis</a></li>
								<li><a href=""><img src="assets/img/white-arrow.svg" alt="">Kontenery sanitarne</a></li>
								<li><a href=""><img src="assets/img/white-arrow.svg" alt="">Kontenery biurowe</a></li>
								<li><a href=""><img src="assets/img/white-arrow.svg" alt="">Kontenery socialne</a></li>
								<li><a href=""><img src="assets/img/white-arrow.svg" alt="">Budowa systemów kontenerowych</a></li>

							</ul>
						</div>
					</div>
					<div class="cell small-6 medium-12  large-4 home_fourth__red_box ">
						<div class="home_fourth__color_cell_2">
							<h2 class="home_third__right_title">Usługi</h2>
							<p>
								— Roboty ziemne</p>
							<ul>
								<li><a href=""><img src="assets/img/white-arrow.svg" alt="">Waga najazdowa</a></li>
								<li><a href=""><img src="assets/img/white-arrow.svg" alt="">Przeładunki wózkami widłowymi</a></li>
								<li><a href=""><img src="assets/img/white-arrow.svg" alt="">Wynajem placu</a></li>

							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="cell medium-7 large-5 home_fourth__right">
				<h2 class="big-title">Lorem isum dolor sit <em> amet, consetetur sadipsc</em></h2>
				<p> Nasze usługi obejmują m.in. transport krajowy i międzynarodowy. Posiadamy wszystkie potrzebne
					dokumenty i licencje na transport krajowy i zagraniczny. Nasi kierowcy posiadają wieloletnie
					doświadczenie.</p>
				<a href="" class="button-red">Zobacz naszą pełną ofertę</a>
			</div>
		</div>
	</div>
</section>

<section class="section home_slider">
	<div class="grid-x">
		<div class="cell medium-6 grid-container-left stretch-left center">
			<div class="home_slider__text">	
				<h2 class="big-title">Ostatnie wpisy</h2>
				<p>	Nasze usługi obejmują m.in. transport krajowy i międzynarodowy. Posiadamy wszystkie potrzebne dokumenty i licencje na transport krajowy i zagraniczny. Nasi kierowcy posiadają wieloletnie doświadczenie.</p>
				<a href="" class="button-red">Zobacz wszystkie wpisy</a>
			</div>
		</div>
		<div class="cell medium-6 center order-1 small-2rem">
			{% include "./includes/slider-main.twig" %}
		</div>
	</div>
</section>




{% include "./includes/footer.twig" %}