{% set page_title = 'uslugi' %}
{% include "./includes/header.twig" %}
<div class="wrap services">

    <section class="section services_first">
        <div class="">
            <div class="grid-x grid-padding-x">
                <div class="cell medium-6 cell">
                    {# <div class="stretch-left-with-background stretch-left-with-background--with-padding"> #}
                    <div class="stretch-left grid-container-left services_first__top_left">
                        <h1 class="big-title">Roboty <em> ziemne </em></h1>
                        <p> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                            invidunt ut labore et dolore magna </p>
                    </div>
                    <div>
                        {% include "./includes/brown-menu.twig" %}

                    </div>
                </div>
                <div class="cell medium-6 cell ">
                    <div class="stretch-right grid-container-right services_first__top_right">
                        <h2 class="title-25">Roboty ziemne definicja</h2>
                        <h3 class="small-title">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                            eirmod</h3>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                            invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
                            et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
                            Lorem ipsum dolor sit amet.</p>
                        <p> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                            invidunt ut labore et dolore magna aliquyam </p>
                        <div class="break"></div>
                        <h3 class="small-title">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                            eirmod</h3>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                            invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
                            et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
                            Lorem ipsum dolor sit amet.</p>
                        <p> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                            invidunt ut labore et dolore magna aliquyam </p>
                    </div>
                </div>
            </div>


        </div>

    </section>

    <section class="section services-second">
        <div class="grid-container">
            <h2 class="big-title">Komleksowe zlecenia <br></break> <em>z dostawą materiałów i robotami ziemnymi</em>
            </h2>
        </div>
        {% include "./includes/slider-big.twig" %}

    </section>

    <section class="section">
        {% include "./includes/contact-box.twig" %}
    </section>
    <section class="section">
     {% include "./includes/more.twig" %}
    </section>


</div>


{% include "./includes/footer.twig" %}